<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #f5f5f5;">
<div class="container">
    <h1>Chat</h1>
    <div class="col-6 offset-3">
        <ul class="list-group">
            <#list messages as message>
            <li class="list-group-item">${message}</li>
        </list>
        </ul>
    </div>
</div>
</body>
</html>
